In [2]:
# Import the packages

import pandas as pd

In [9]:
# I found this dataset with a random google search for logistic regression

data = pd.read_csv("https://raw.githubusercontent.com/bbalazs88/AlizTech/master/logreg_dataset.csv?token=AE4QNHAZFX3AI6SKLM3Q3F25N2AFI")

In [10]:
# Let's examine the data. We won't need the User ID / Unnamed : 0 column, and we have to convert 
# the Gender values to 0/1 for the model.

data.head()

   Unnamed: 0   User ID  Gender  Age  EstimatedSalary  Purchased
0           0  15624510    Male   19            19000          0
1           1  15810944    Male   35            20000          0
2           2  15668575  Female   26            43000          0
3           3  15603246  Female   27            57000          0
4           4  15804002    Male   19            76000          0

In [16]:
data.drop(["Unnamed: 0", "User ID"], axis=1, inplace=True)

KeyError: "['Unnamed: 0' 'User ID'] not found in axis"

In [17]:
data.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
Gender             400 non-null object
Age                400 non-null int64
EstimatedSalary    400 non-null int64
Purchased          400 non-null int64
dtypes: int64(3), object(1)
memory usage: 12.6+ KB

In [19]:
data['Purchased'].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [20]:
# Converting the Gender, with Pandas' map function. I could use the get_dummies, or scikit-learn's OneHotEncoder.

data['Gender'] = data['Gender'].map({'Female' : 0, 'Male' : 1})

In [21]:
# Now our data is clean, so we can move on to the LogReg model.

data.head()

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       0   26            43000          0
3       0   27            57000          0
4       1   19            76000          0